@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #18181b; /* zinc-900 */
}

::-webkit-scrollbar-thumb {
  background: #3f3f46; /* zinc-700 */
  border-radius: 5px;
  border: 2px solid #18181b; /* zinc-900 to create padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* zinc-600 */
}

::-webkit-scrollbar-corner {
  background: #18181b; /* zinc-900 */
}
